@model IEnumerable<StarToUp.Models.Evento>

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_AreaAdmin.cshtml";
}

<div id="blog" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Eventos</h2>
            </div>
            <!-- /Section header -->
            @foreach (var item in Model)
            {
                <!-- blog -->
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            @{ string foto = item.Foto;
                                if (foto != string.Empty)
                                {
                                    if (foto != null)
                                    {
                                        string file = foto;
                                        string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/Evento/" + file;
                                        <img class="img-responsive" src='@Url.Content(path)' title="Foto" /><br />
                                    }
                                }
                            }
                        </div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.DataEvento)</li>
                            </ul>
                            <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                        </div>
                    </div>
                </div>
                <!-- /blog -->
                <!-- blog -->
                @*<div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="~/Content/img/blog2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fa fa-user"></i>John doe</li>
                                <li><i class="fa fa-clock-o"></i>18 Oct</li>
                                <li><i class="fa fa-comments"></i>57</li>
                            </ul>
                            <h3>Molestie at elementum eu facilisis sed odio</h3>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                            <a href="blog-single.html">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- /blog -->
                <!-- blog -->
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="~/Content/img/blog3.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fa fa-user"></i>John doe</li>
                                <li><i class="fa fa-clock-o"></i>18 Oct</li>
                                <li><i class="fa fa-comments"></i>57</li>
                            </ul>
                            <h3>Molestie at elementum eu facilisis sed odio</h3>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                            <a href="blog-single.html">Read more</a>
                        </div>
                    </div>
                </div>*@
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EventoID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EventoID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EventoID })
                        </td>
                    </tr>
                </table>
                <!-- /blog -->
            }


        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->









@*<h2>Eventos Cadastrados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEvento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventoID })
            </td>
        </tr>
    }

</table>*@
