@model IEnumerable<StarToUp.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AreaAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEvento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEvento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventoID })
        </td>
    </tr>
}

</table>
