@model IEnumerable<StarToUp.Models.Empresa>
@{
    IEnumerable<StarToUp.Models.Startup> startups = (IEnumerable<StarToUp.Models.Startup>)ViewBag.Startups;
    IEnumerable<StarToUp.Models.Empresa> empresas = (IEnumerable<StarToUp.Models.Empresa>)ViewBag.Empresas;
    StarToUp.Models.Empresa empresa = StarToUp.Repositories.FuncoesEmpresa.GetUsuarioEmpresa();
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Empresa.cshtml";
}
<div class="header-wrapper sm-padding bg-grey">
    <div class="container">
        <h2>Espaço Empresa</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<div class="container">
    <div id="aside" class="col-md-4">
        @using (Html.BeginForm("SearchStartup", "Startups", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="widget">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="widget-search">
                    <input type="text" name="SearchString" id="SearchString" class="search-input" placeholder="Busque sua Startup aqui!" />
                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </div>

        }
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Section header -->
        <div class="section-header text-center">
            <h2 class="title">Últimas Startups Inseridas</h2>
        </div>
        <!-- /Section header -->
        <!-- Empresas Parceiras -->
        @foreach (var item in startups)
        {
            <div class="col-md-4">
                <div class="about">

                    @{
                        string logoTipo = item.Logotipo;
                        if (logoTipo != string.Empty)
                        {
                            if (logoTipo != null)
                            {
                                string file = logoTipo;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/Startup/" + file;
                                <img src='@Url.Content(path)' class="img-preview2" style="width:150px; height:150px;" /><br />
                            }
                        }
                    }
                    <br />
                    <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Sobre)</p>
                    <a href='@Url.Action("DetalheStartup", "Empresas", new { id = item.StartupID })'><img src='@Url.Content("~/Content/img/icons/visualizacao.png")' class="view" title="Detalhes" /></a>
                </div>
            </div>
        }
        <!-- /Empresas Parceiras -->
    </div>
    <div class="row">
        <!-- Section header -->
        <div class="section-header text-center">
            <h2 class="title">Conheça as Empresas Parceiras da StarToUp</h2>
        </div>
        <!-- /Section header -->
        <!-- Empresas Parceiras -->
        @foreach (var item in empresas)
        {
            <div class="col-md-4">
                <div class="about">

                    @{
                        string logoTipo = item.Logotipo;
                        if (logoTipo != string.Empty)
                        {
                            if (logoTipo != null)
                            {
                                string file = logoTipo;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/Empresa/" + file;
                                <img src='@Url.Content(path)' class="img-preview2" style="width:150px; height:150px;" /><br />
                            }
                        }
                    }
                    <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Sobre)</p>
                    <a href='@Url.Action("Details", "Empresas", new { id = item.EmpresaID })'><img src='@Url.Content("~/Content/img/icons/visualizacao.png")' class="view" title="Detalhes" /></a>
                </div>
            </div>
        }
        <!-- /Empresas Parceiras -->
    </div>
    <div class="row">
        <!-- Section header -->
        <div class="section-header text-center">
            <h2 class="title">Achamos que talvez você possa se interessar:</h2>
        </div>
        <!-- /Section header -->
        <!-- Lista de Startups por segmentação igual -->

        @{int processed = 0; }
        @foreach (var item in startups)
        {

            if (empresa.SegmentacaoID == item.SegmentacaoID)
            {
                <div class="col-md-4">
                    <div class="about">

                        @{
                            string logoTipo = item.Logotipo;
                            if (logoTipo != string.Empty)
                            {
                                if (logoTipo != null)
                                {
                                    string file = logoTipo;
                                    string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/Startup/" + file;
                                    <img src='@Url.Content(path)' class="img-preview2" style="width:150px; height:150px;" /><br />
                                }
                            }
                        }

                        <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Sobre)</p>
                        <a href='@Url.Action("DetalheStartup", "Empresas", new { id = item.StartupID })'><img src='@Url.Content("~/Content/img/icons/visualizacao.png")' class="view" title="Detalhes" /></a>
                    </div>
                </div>
            }

            if (++processed == 6)
            {
                break;
            }
        }
    </div>
</div>