@model StarToUp.Models.PerfilStartup

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <div class="container">
        <div class="section-header text-center">
            <br />
            <h2 class="title">Startup, Crie seu perfil</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <form class="form-signin">
            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*<div class="input">
                        @Html.DropDownList("StartupCadastroID", null, "Qual Startup é você?", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StartupCadastroID, "", new { @class = "text-danger" })
                    </div>*@
                <br />
                <div>
                    <input type="text" name="nome" id="nome" class="input" placeholder="Nome da Startup *" />
                    @Html.ValidationMessageFor(model => model.NomeStartup, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="dataFundacao" id="dataFundacao" class="input" placeholder="Data da Fundação DD/MM/YYYY *" />
                    @Html.ValidationMessageFor(model => model.DataFundacao, "", new { @class = "text-danger" })
                </div>
                <br />
                @*<div class="input">
                        @Html.DropDownList("SegmentacaoID", null, "Qual sua segmentação de mercado?", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SegmentacaoID, "", new { @class = "text-danger" })
                    </div>*@
                <br />
                <div>
                    <input type="text" name="tamanhoTime" id="tamanhoTime" class="input" placeholder="Qual a média de pessoas no seu time?" />
                    @Html.ValidationMessageFor(model => model.TamanhoTime, "", new { @class = "text-danger" })
                </div>
                <br />
                @*Endereço*@
                <div>
                    <input type="text" name="cep" id="cep" class="input" placeholder="CEP XX.XXX-XXX" />
                    @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="rua" id="rua" class="input" placeholder="Digite a Rua *" />
                    @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="bairro" id="bairro" class="input" placeholder="Digite o Bairro *" />
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="numero" id="numero" class="input" placeholder="Digite o Numero *" />
                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="complemento" id="complemento" class="input" placeholder="Tem algum complemento?" />
                    @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="cidade" id="cidade" class="input" placeholder="Em qual cidade fica sua Startup?" />
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="estado" id="estado" class="input" placeholder="Em qual estado fica sua Startup?" />
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload id='img_contain'">
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='left' src="~/Content/img/logoStartup.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string logo = ViewBag.LogoMensagem;
    if (logo != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    <input type="text" name="objetivo" id="objetivo" class="input" placeholder="Digite qual o objetivo de vocês. É apenas uma breve descrição ou frase!" />
                    @Html.ValidationMessageFor(model => model.Objetivo, "", new { @class = "text-danger" })
                </div>
                <br />
                @*Imagens da Startup*@
                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload id='img_contain'">
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='left' src="~/Content/img/fotoUpload.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string imagemLocal1 = ViewBag.LogoMensagem;
    if (imagemLocal1 != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>

                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload" id='img_contain'>
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='right' src="~/Content/img/fotoUpload.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string imagemLocal2 = ViewBag.LogoMensagem;
    if (imagemLocal2 != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>
                @*MVP*@
                <br />
                <label>Insira Imagens do seu MVP abaixo!</label>
                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload id='img_contain'">
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='left' src="~/Content/img/fotoUpload.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string mvp1 = ViewBag.LogoMensagem;
    if (mvp1 != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>
                <br />
                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload id='img_contain'">
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='left' src="~/Content/img/fotoUpload.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string mvp2 = ViewBag.LogoMensagem;
    if (mvp2 != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>
                <br />

                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload id='img_contain'">
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='left' src="~/Content/img/fotoUpload.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string mvp3 = ViewBag.LogoMensagem;
    if (mvp3 != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>

                <div class="contain animated bounce">
                    <div class="alert"></div>
                    <div class="input-group">
                        <br /><br />
                        <div class="fileUpload id='img_contain'">
                            <label class="custom-file-label" for="inputGroupFile01"><img id="blah" align='left' src="~/Content/img/fotoUpload.png" alt="your image" title='' class="img-circle img-responsive" /></label>
                            <input type="file" id="inputGroupFile01" class="imgInp custom-file-input upload" name="logo" aria-describedby="inputGroupFileAddon01">
                            @{
    string mvp4 = ViewBag.LogoMensagem;
    if (mvp4 != "")
    {
                    <span class="text-danger contenterror">
                        @ViewBag.LogoMensagem
                    </span>
    }
                            }
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <br /><br />

        <div>
            <textarea name="sobre" id="sobre" class="input" rows="5" cols="60" placeholder="Nos conte sobre sua Startup, queremos saber tudo sobre vocês!"></textarea>
            @Html.ValidationMessageFor(model => model.Sobre, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="text-center">
            <button class="main-btn" type="submit" value="Criar">Criar Perfil</button>
        </div>
    </div>
    <br /><br />
}
<footer id="footer" class="sm-padding bg-dark">
        <!-- Container -->
        <div class="container-fluid">
            <br /><br />
            <!-- Row -->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/Logo_StarToUp1.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                    </div>
                    <!-- /footer copyright -->
                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </footer>
    <!-- /Footer -->

<script type="text/javascript">
    $("#inputGroupFile01").change(function (event) {
        RecurFadeIn();
        readURL(this);
    });
    $("#inputGroupFile01").on('click', function (event) {
        RecurFadeIn();
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var filename = $("#inputGroupFile01").val();
            filename = filename.substring(filename.lastIndexOf('\\') + 1);
            reader.onload = function (e) {
                debugger;
                $('#blah').attr('src', e.target.result);
                $('#blah').hide();
                $('#blah').fadeIn(500);
                $('.custom-file-label').text(filename);
            }
            reader.readAsDataURL(input.files[0]);
        }
        $(".alert").removeClass("loading").hide();
    }
    function RecurFadeIn() {
        console.log('ran');
        FadeInAlert("Wait for it...");
    }
    function FadeInAlert(text) {
        $(".alert").show();
        $(".alert").text(text).addClass("loading");
    }
</script>