@model StarToUp.Models.Emprego

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Emprego.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Emprego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TituloVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitosVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitosVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoVaga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpregoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
