@{
    IEnumerable<StarToUp.Models.Evento> eventos = (IEnumerable<StarToUp.Models.Evento>)ViewBag.Eventos;
    IEnumerable<StarToUp.Models.StartupCadastro> startupCadastros = (IEnumerable<StarToUp.Models.StartupCadastro>)ViewBag.startupCadastros;
    ViewBag.Title = "Home Page";
}

<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">
        <br /><br />
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Seja Bem-vindo!</h2>
            </div>
            <!-- /Section header -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    
                    <img style="width:70px; height:50px;" src="~/Content/img/startup.png" />
                    <h3>A StartToUp</h3>
                    <p>
                        Uma plataforma criada para divulgar diversos segmentos de startups, facilitando
                        que as empresas encontrem as ideias e soluções que precisam para levar tecnologia e inovação
                        para dentro de suas companhias.
                    </p>

                </div>
            </div>
            <!-- /about -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    
                    <img style="width:70px; height:50px;" src="~/Content/img/search.png" />
                    <h3>Facilidade</h3>
                    <p>Facilitaremos o encontro entre empresas e as melhores Startups, filtrando aquela que agregará valor ao negócio e reduzindo o tempo de pesquisa.
                     As startups serão elencadas por segmentação.</p>
                    
                </div>
            </div>
            <!-- /about -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    
                    <img style="width:60px; height:50px;" src="~/Content/img/calendar (1).png" />
                    <h3>Fique por dentro!</h3>
                    <p>Saiba de todos os eventos relacionados à Startups que estarão prestes a acontecer, seu conteúdo e local.</p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <!-- /about -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->
<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            <br /><br />
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Startups em Destaque</h2>
            </div>
            <!-- /Section header -->
            <!-- Work -->
            @*<!-- /Work -->

            @foreach (var item in startupCadastros)
            {
                <!-- blog -->
                <div class="col-md-4 col-xs-6 work">
                    <div class="col-md-4 col-xs-6 work">
                        @{ string fotoStartups = item.Logotipo;
                            if (fotoStartups != string.Empty)
                            {
                                if (fotoStartups != null)
                                {
                                    string file = fotoStartups;
                                    string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                    <img style="width: 250px; height: 260px;" src='@Url.Content(path)' title="Foto" /><br />
                                }
                            }
                        }
                        <div class="overlay" style="width: 290px; height: 300px;"></div>
                        <div class="work-content">
                            <span>@Html.DisplayNameFor(modelItem => item.Nome)</span>
                            <div class="work-link">
                               
                            </div>
                        </div>
                    </div>

                    <!-- /Work -->

                </div>
                <!-- /Row -->
            }*@

        </div>
        <!-- /Container -->

    </div>

</div>
    <!-- /Portfolio -->
    <!-- Numbers -->
    <div id="numbers" class="section sm-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../../Content/img/background2.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Container -->
        <div class="container">
            <br /><br />
            <!-- Row -->
            <div class="row">

                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-users"></i>
                        <h3 class="white-text"><span class="counter">451</span></h3>
                        <span class="white-text">Startups</span>
                    </div>
                </div>
                <!-- /number -->
                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-trophy"></i>
                        <h3 class="white-text"><span class="counter">12</span></h3>
                        <span class="white-text">Awards won</span>
                    </div>
                </div>
                <!-- /number -->
                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-coffee"></i>
                        <h3 class="white-text"><span class="counter">154</span>K</h3>
                        <span class="white-text">Cups of Coffee</span>
                    </div>
                </div>
                <!-- /number -->
                <!-- number -->
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-file"></i>
                        <h3 class="white-text"><span class="counter">45</span></h3>
                        <span class="white-text">Projetos de sucesso</span>
                    </div>
                </div>
                <!-- /number -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Numbers -->
    <!-- Blog -->
    <div id="blog" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">
            <br /><br />
            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Eventos</h2>
                </div>
                <!-- /Section header -->
                @foreach (var item in eventos)
                {
                    <!-- blog -->
                    <div class="col-md-4">
                        <div class="blog">
                            <div class="blog-img">
                                @{ string foto = item.Foto;
                                    if (foto != string.Empty)
                                    {
                                        if (foto != null)
                                        {
                                            string file = foto;
                                            string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/Evento/" + file;
                                            <img class="img-responsive" src='@Url.Content(path)' title="Foto" /><br />
                                        }
                                    }
                                }
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.DataEvento)</li>
                                </ul>
                                <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                                <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                            </div>
                        </div>
                    </div>
                    <!-- /blog -->
                }

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
    <!-- Contact -->
    <div id="contact" class="section md-padding">

        <!-- Container -->
        <div class="container">
            <br /><br />
            <!-- Row -->
            <div class="row">

                <!-- Section-header -->
                <div class="section-header text-center">
                    <h2 class="title">Entre em contato conosco</h2>
                </div>
                <!-- /Section-header -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-phone"></i>
                        <h3>Telefone</h3>
                        <p>(12) 98505-7686</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>startoupcontact@gmail.com</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-map-marker"></i>
                        <h3>Endereço</h3>
                        <p>Av. Castelo Branco, nº432, São Paulo/SP</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact form -->
                <div class="col-md-8 col-md-offset-2">
                    <form class="contact-form">
                        <input type="text" class="input" placeholder="Nome">
                        <input type="email" class="input" placeholder="Email">
                        <input type="text" class="input" placeholder="Assunto">
                        <textarea class="input" placeholder="Mensagem"></textarea>
                        <button class="main-btn">Enviar mensagem</button>
                    </form>
                </div>
                <!-- /contact form -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Contact -->
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">
            <br /><br />
            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/Logo_StarToUp1.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->
