@model StarToUp.Models.StartupCadastro

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StartupCadastro</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">
                Escolha:
            </label>
            <div class="col-md-10">
                @Html.DropDownList("TipoUsuarioID", null, "Você é uma Empresa ou Startup?", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoUsuarioID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <hr />
            <h3 class="text-center">@ViewBag.Error</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">
                    Nome
                </label>
                <div>
                    <div class="col-md-10 ">
                        <input type="text" name="nome" id="nome" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Email
                </label>
                <div>
                    <div class="col-md-10 ">
                        <input type="text" name="email" id="email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Senha
                </label>
                <div class="col-md-10">
                    <input type="password" name="senha" id="senha" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
}

<div>
    <a href='@Url.Action("Index", "Home")'>
        <img src='@Url.Content("~/Content/Images/voltar.png")' class="botaoicone" title="" /> Startups Cadastradas
    </a>
</div>


@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
    </script>
}
