@model StarToUp.Models.StartupCadastro

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "StartupCadastros", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   
    <div class="header-wrapper sm-padding bg-grey">
        <div class="container">
            <h2>Startup, Crie seu <b>Login</b> e seu <b>Perfil</b> abaixo</h2>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="container">
        <form class="form-signin">
            <div class="row">
                <div>
                    <div class="header-wrapper sm-padding">
                        <h3 class="title">Dados de Login</h3>
                    </div>
                    <div class="col-md-6 uploadImage">
                        <img class="img-circle img-preview" src="http://farm4.static.flickr.com/3316/3546531954_eef60a3d37.jpg" title="Preview Logo" />
                        <div class="input-group-btn">
                            <div class="fileUpload btn btn-info fake-shadow">
                                <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                                <input id="logoTipo" name="logoTipo" value="logoTipo" type="file" class="attachment_upload" />
                                @{
                                    string logoTipo = ViewBag.FotoMensagem;
                                    if (logoTipo != "")
                                    {
                                        <span class="text-danger contenterror">
                                            @ViewBag.FotoMensagem
                                        </span>
                                    }
                                }
                            </div>
                        </div>
                        <p class="help-block">* Insira o Logo da sua Startup acima.</p>
                        @*<div class="captcha">
                                <div class="g-recaptcha" data-sitekey="6Ldjv5gUAAAAAClKvvSPLuzA5KkLrdm1hv9pMwmD"></div>
                            </div>*@
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="nome" id="nome" class="form-control input" placeholder="Nome da Startup *" />
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="email" id="email" class="form-control input" placeholder="E-mail de Contato *" />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="password" name="senha" id="senha" class="form-control input" placeholder="Senha *" />
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="password" name="senha" id="confsenha" class="form-control input" placeholder="Confirmar Senha *" />
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <hr class="divisoria" />
            <div class="row">
                <div class="col-md-6">
                    <div class="header-wrapper sm-padding">
                        <h3 class="title">Dados de Contato</h3>
                    </div>
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*Endereço*@
                        <div>
                            <input type="text" name="cep" id="cep" class="form-control input" placeholder="CEP XX.XXX-XXX" />
                            @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="rua" id="rua" class="form-control input" placeholder="Digite a Rua *" />
                            @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="bairro" id="bairro" class="form-control input" placeholder="Digite o Bairro *" />
                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="numero" id="numero" class="form-control input" placeholder="Digite o Numero *" />
                            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="complemento" id="complemento" class="form-control input" placeholder="Tem algum complemento?" />
                            @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="cidade" id="cidade" class="form-control input" placeholder="Em qual cidade fica sua Startup?" />
                            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="estado" id="estado" class="form-control input" placeholder="Em qual estado fica sua Startup?" />
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*LogoTipo*@
                <div class="col-md-6 uploadImage">
                    <div class="header-wrapper sm-padding">
                        <h3 class="title" style="text-align:left;">Sobre sua Startup</h3>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-6 uploadImage">
                                <img class="img-preview2" src="http://farm4.static.flickr.com/3316/3546531954_eef60a3d37.jpg" title="Preview Logo" />
                                <div class="input-group-btn">
                                    <div class="fileUpload btn btn-info fake-shadow">
                                        <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                                        <input id="imagemLocal1" name="imagemLocal1" value="imagemLocal1" type="file" class="attachment_upload" />
                                        @{
                                            string imagemLocal1 = ViewBag.FotoMensagem;
                                            if (imagemLocal1 != "")
                                            {
                                                <span class="text-danger contenterror">
                                                    @ViewBag.FotoMensagem
                                                </span>
                                            }
                                        }
                                    </div>
                                </div>
                                <p class="help-block">* Insira uma imagem do seu ambiente de trabalho.</p>
                            </div>
                            <div class="col-md-6 uploadImage">
                                <img class="img-preview3" src="http://farm4.static.flickr.com/3316/3546531954_eef60a3d37.jpg" title="Preview Logo" />
                                <div class="input-group-btn">
                                    <div class="fileUpload btn btn-info fake-shadow">
                                        <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                                        <input id="imagemLocal2" name="imagemLocal2" value="imagemLocal2" type="file" class="attachment_upload" />
                                        @{
                                            string imagemLocal2 = ViewBag.FotoMensagem;
                                            if (imagemLocal2 != "")
                                            {
                                                <span class="text-danger contenterror">
                                                    @ViewBag.FotoMensagem
                                                </span>
                                            }
                                        }
                                    </div>
                                </div>
                                <p class="help-block">* Insira uma imagem do seu ambiente de trabalho.</p>
                            </div>
                        </div>
                        <br />
                        <div>
                            <input type="text" name="objetivo" id="objetivo" class="form-control input" placeholder="Digite qual o objetivo de vocês. É apenas uma breve descrição ou frase!" />
                            @Html.ValidationMessageFor(model => model.Objetivo, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="sobre" id="sobre" class="form-control input" placeholder="Nos conte sobre sua Startup, queremos saber tudo sobre vocês!" />
                            @Html.ValidationMessageFor(model => model.Sobre, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="dataFundacao" id="dataFundacao" class="form-control input" placeholder="Data da Fundação DD/MM/YYYY *" />
                            @Html.ValidationMessageFor(model => model.DataFundacao, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            @Html.DropDownList("SegmentacaoID", null, "Qual sua segmentação de mercado?", new { @class = "form-control input" })
                            @Html.ValidationMessageFor(model => model.SegmentacaoID, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div>
                            <input type="text" name="tamanhoTime" id="tamanhoTime" class="form-control input" placeholder="Qual a média de pessoas no seu time?" />
                            @Html.ValidationMessageFor(model => model.TamanhoTime, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            @*FimLogoTipo*@
            <br />
            <hr class="divisoria" />
            @*Imagens do MVP*@
            <div class="header-wrapper sm-padding">
                <h3 class="title">Insira imgens do seu MVP* abaixo</h3>
                <p style="font-size:x-small;">*Minimo Produto Viavél</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img class="img-preview4" src="~/Content/img/mvp.png" title="Preview Logo" />
                    <div class="input-group-btn">
                        <div class="fileUpload btn btn-info fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                            <input id="imagemMVP1" name="imagemMVP1" value="imagemMVP1" type="file" class="attachment_upload" />
                            @{
                                string imagemMVP1 = ViewBag.FotoMensagem;
                                if (imagemMVP1 != "")
                                {
                                    <span class="text-danger contenterror">
                                        @ViewBag.FotoMensagem
                                    </span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-preview5" src="~/Content/img/mvp.png" title="Preview Logo" />
                    <div class="input-group-btn">
                        <div class="fileUpload btn btn-info fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                            <input id="imagemMVP2" name="imagemMVP2" value="imagemMVP2" type="file" class="attachment_upload" />
                            @{
                                string imagemMVP2 = ViewBag.FotoMensagem;
                                if (imagemMVP2 != "")
                                {
                                    <span class="text-danger contenterror">
                                        @ViewBag.FotoMensagem
                                    </span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-preview6" src="~/Content/img/mvp.png" title="Preview Logo" />
                    <div class="input-group-btn">
                        <div class="fileUpload btn btn-info fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                            <input id="imagemMVP3" name="imagemMVP3" value="imagemMVP3" type="file" class="attachment_upload">
                            @{
                                string imagemMVP3 = ViewBag.FotoMensagem;
                                if (imagemMVP3 != "")
                                {
                                    <span class="text-danger contenterror">
                                        @ViewBag.FotoMensagem
                                    </span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-preview7" src="~/Content/img/mvp.png" title="Preview Logo" />
                    <div class="input-group-btn">
                        <div class="fileUpload btn btn-info fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                            <input id="imagemMVP4" name="imagemMVP4" value="imagemMVP4" type="file" class="attachment_upload">
                            @{
                                string imagemMVP4 = ViewBag.FotoMensagem;
                                if (imagemMVP4 != "")
                                {
                                    <span class="text-danger contenterror">
                                        @ViewBag.FotoMensagem
                                    </span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </form>
        <br />
        <div class="text-center">
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Criar">Criar Perfil</button>
        </div>
    </div>
    <br />
}
<footer id="footer" class="sm-padding bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/logo2.png" alt="logo"></a>
                </div>
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });

        $('form').on('submit', function () {
            if ($('#senha').val() != $('#confsenha').val()) {
                alert('A senha não confere!');
                return false;
            }
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $(document).ready(function () {
            var brand = document.getElementById('logoTipo');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#logoTipo").change(function () {
                readURL(this);
            });
        });

        $(document).ready(function () {
            var brand = document.getElementById('imagemLocal1');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview2').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imagemLocal1").change(function () {
                readURL(this);
            });
        });

        $(document).ready(function () {
            var brand = document.getElementById('imagemLocal2');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview3').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imagemLocal2").change(function () {
                readURL(this);
            });
        });

        $(document).ready(function () {
            var brand = document.getElementById('imagemMVP1');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview4').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imagemMVP1").change(function () {
                readURL(this);
            });
        });

        $(document).ready(function () {
            var brand = document.getElementById('imagemMVP2');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview5').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imagemMVP2").change(function () {
                readURL(this);
            });
        });

        $(document).ready(function () {
            var brand = document.getElementById('imagemMVP3');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview6').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imagemMVP3").change(function () {
                readURL(this);
            });
        });

        $(document).ready(function () {
            var brand = document.getElementById('imagemMVP4');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview7').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imagemMVP4").change(function () {
                readURL(this);
            });
        });
    </script>

}

