@model StarToUp.Models.StartupCadastro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header text-center">
    <br />
    <h2 class="title">Perfil da Startup</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
<div class="container">
    <div class="row">
        <div class="container col-md-6">
            <div class="card" style="height: 540px; margin-top:0px;">
                <div style="text-align: left; padding-top: 5%">
                    @{
                        string logoTipo = Model.Logotipo;
                        if (logoTipo != string.Empty)
                        {
                            if (logoTipo != null)
                            {
                                string file = logoTipo;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                <img src='@Url.Content(path)' style="height:150px; width: 150px; border-radius: 100%; box-shadow: 2px 2px 2px black;" title="Logotipo" /><br />
                            }
                        }
                    }
                </div>
                <br />
                <h4>Informações da Startup:</h4>
                <div>
                    <input type="text" value="@Html.DisplayNameFor(model => model.Nome)" disabled style="outline:none;">
                    <b>Nome da Statup</b>
                </div>
                <br />
                <div>
                    <input type="text" value="@Html.DisplayFor(model => model.DataFundacao)" disabled style="outline:none;">
                    <b>Data da Fundação</b>
                </div>
                <br />
                <div>
                    <input type="text" value="@Html.DisplayFor(model => model.TamanhoTime)" disabled style="outline:none;">
                    <b>Tamanho do Time</b>
                </div>
                <br />
            </div>
        </div>
        <div class="container col-md-6">
            <div class="card" style="margin-top:0px;">
                <h4>Objetivo:</h4>
                <div>
                    <input type="text" value="@Html.DisplayFor(model => model.Objetivo)" disabled style="outline:none;">
                </div>
                <br />
                <h4>Sobre:</h4>
                <div>
                    <textarea disabled style="overflow: auto; width: 100%; height:auto; resize: none;">
                            @Html.DisplayFor(model => model.Sobre)
                        </textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container col-md-6">
            <div class="card" style="margin-top:0px;">
                <h4>Endereço:</h4>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" value="@Html.DisplayFor(model => model.Cep)" disabled style="outline:none;">
                        <b>CEP</b>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" value="@Html.DisplayFor(model => model.Rua)" disabled style="outline:none;">
                        <b>Rua</b>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" value="@Html.DisplayFor(model => model.Bairro)" disabled style="outline:none;">
                        <b>Bairro</b>
                    </div>

                    <div class="col-md-6">
                        <input type="text" value="@Html.DisplayFor(model => model.Numero)" disabled style="outline:none;">
                        <b>Número</b>
                    </div>
                </div>
                <br />
                <div>
                    <input type="text" value="@Html.DisplayFor(model => model.Complemento)" disabled style="outline:none; width: 100%;">
                    <b>Complemento</b>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" value="@Html.DisplayFor(model => model.Cidade)" disabled style="outline:none; width: 100%;">
                        <b>Cidade</b>
                    </div>

                    <div class="col-md-6">
                        <input type="text" value="@Html.DisplayFor(model => model.Estado)" disabled style="outline:none;">
                        <b>Estado</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StartupCadastroID }) |
    @Html.ActionLink("Back to List", "Index")
</p>