@model StarToUp.Models.StartupCadastro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_IndexStartup.cshtml";
}

<!-- Header -->
<header>
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <div class="nav-collapse">
                    <span></span>
                </div>
            </div>
            <!--  Main navigation  -->
            @{
                StarToUp.Models.StartupCadastro startupCadastro = StarToUp.Repositories.Funcoes.GetUsuario();
                if (startupCadastro != null)
                {

                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home Startups", "Index", "StartupCadastros")</li>
                        <li><a href="#" class="disabled" style="color:#b4b4b4;">Startups</a></li>
                        <li class="has-dropdown">
                            <a href="">@startupCadastro.Nome</a>
                            <ul class="dropdown">
                                <li>@Html.ActionLink("Editar", "Edit", new { id = Model.StartupCadastroID })</li>
                                <li><a href="#" data-toggle="modal" data-target="#smallModal">Logoff</a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- /Main navigation -->
                }
                else
                {
                    <script type="text/javascript">
                                window.location.href = "@Url.Action("AcessoNegado", "Logon")";
                    </script>
                }
            }
        </div>
    </nav>
    <!-- /Nav -->
</header>
<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Logoff</h3>
            </div>
            <div class="modal-body">
                <p>Deseja sair da sessão?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Sair!", "Logoff", "StartupCadastros")</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-img" style="background-image: url('../../Content/img/background2.jpg');">
    <div class="overlay"></div>
</div>
<div class="header-wrapper sm-padding bg-grey">
    <div class="container">
        <h2>Detalhes da <b>Startup</b></h2>
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.StartupCadastroID)
    <form class="form-signin">
        <div class="row">
            <div>
                <div class="col-md-12 uploadImage">
                    <br />
                    <div style="color:#fff; font-size: 2.4em;">
                        @Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div style="color:#fff; font-size: 1.2em;;">
                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                    <div class="input-group-btn">
                        @{
                            string logoTipo = Model.Logotipo;
                            if (logoTipo != string.Empty)
                            {
                                if (logoTipo != null)
                                {
                                    string file = logoTipo;
                                    string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                    <img class="img-circle img-preview" src='@Url.Content(path)' style="height:250px; width: 250px; border-radius: 100%; box-shadow: 2px 2px 2px black;" title="Logotipo" /><br />
                                }
                            }
                        }
                    </div>
                    <p style="font-size:x-small;">*Logo.</p>
                    <div>
                        @Html.HiddenFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <hr class="divisoria" />
            <div class="col-md-6">
                <div class="header-wrapper sm-padding">
                    <h3 class="title">Dados de Contato</h3>
                </div>
                <div>
                    @*Endereço*@
                    <div>
                        <label style="color:#8b8b8b">CEP - </label>
                        @Html.DisplayFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Rua</label>
                        @Html.DisplayFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Bairro - </label>
                        @Html.DisplayFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Nº - </label>
                        @Html.DisplayFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Complemento - </label>
                        @Html.DisplayFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Cidade - </label>
                        @Html.DisplayFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">UF - </label>
                        @Html.DisplayFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <img class="imgMap img-responsive" src="~/Content/img/maps.png" />
                    </div>
                </div>
            </div>
            @*LogoTipo*@
            <div class="col-md-6 uploadImage">
                <div class="header-wrapper sm-padding">
                    <h3 class="title" style="text-align:left;">Sobre a Startup</h3>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6 uploadImage">
                            <div class="input-group-btn">
                                @{
                                    string imagemLocal1 = Model.ImagemLocal1;
                                    if (imagemLocal1 != string.Empty)
                                    {
                                        if (imagemLocal1 != null)
                                        {
                                            string file = imagemLocal1;
                                            string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                            <img class="img-preview2" src='@Url.Content(path)' title="Local1" /><br />
                                        }
                                    }
                                }
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6 uploadImage">
                            <div class="input-group-btn">
                                @{
                                    string imagemLocal2 = Model.ImagemLocal2;
                                    if (imagemLocal2 != string.Empty)
                                    {
                                        if (imagemLocal2 != null)
                                        {
                                            string file = imagemLocal2;
                                            string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                            <img class="img-preview3" src='@Url.Content(path)' title="Local2" /><br />
                                        }
                                    }
                                }
                            </div>
                            <br />
                        </div>
                    </div>
                    <p style="font-size:x-small;">*Imagens da Startup.</p>
                    <br />
                    <div class="text-left">
                        <div>
                            <label style="color:#8b8b8b">Objetivo - </label>
                            @Html.DisplayFor(model => model.Objetivo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Data da Fundação - </label>
                            @Html.DisplayFor(model => model.DataFundacao, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Segmentação</label>
                            @Html.DisplayFor(model => model.SegmentacaoID, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Tamanho do Time - </label>
                            @Html.DisplayFor(model => model.TamanhoTime, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Sobre - </label>
                            @Html.DisplayFor(model => model.Sobre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*FimLogoTipo*@
        <br />
        <hr class="divisoria" />
        @*Imagens do MVP*@
        <div class="header-wrapper sm-padding">
            <h3 class="title">Imagens do MVP*</h3>
            <p style="font-size:x-small;">*Minimo Produto Viavél</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group-btn">
                    @{
                        string imagemMVP1 = Model.ImagemMVP1;
                        if (imagemMVP1 != string.Empty)
                        {
                            if (imagemMVP1 != null)
                            {
                                string file = imagemMVP1;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                <img class="img-preview4" src='@Url.Content(path)' title="MVP1" /><br />
                            }
                        }
                    }
                </div>
                <br />
            </div>
            <div class="col-md-3">
                <div class="input-group-btn">
                    @{
                        string imagemMVP2 = Model.ImagemMVP2;
                        if (imagemMVP2 != string.Empty)
                        {
                            if (imagemMVP2 != null)
                            {
                                string file = imagemMVP2;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                <img class="img-preview5" src='@Url.Content(path)' title="MVP2" /><br />
                            }
                        }
                    }
                </div>
                <br />
            </div>
            <div class="col-md-3">
                <div class="input-group-btn">
                    @{
                        string imagemMVP3 = Model.ImagemMVP3;
                        if (imagemMVP3 != string.Empty)
                        {
                            if (imagemMVP3 != null)
                            {
                                string file = imagemMVP3;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                <img class="img-preview6" src='@Url.Content(path)' title="MVP3" /><br />
                            }
                        }
                    }
                </div>
                <br />
            </div>
            <div class="col-md-3">
                <div class="input-group-btn">
                    @{
                        string imagemMVP4 = Model.ImagemMVP4;
                        if (imagemMVP4 != string.Empty)
                        {
                            if (imagemMVP4 != null)
                            {
                                string file = imagemMVP4;
                                string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                                <img class="img-preview7" src='@Url.Content(path)' title="MVP4" /><br />
                            }
                        }
                    }

                </div>
                <br />
            </div>
        </div>
        <br />
    </form>
    <br />
</div>
<br />
}
<footer id="footer" class="sm-padding bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/logo2.png" alt="logo"></a>
                </div>
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
    </script>
}