@model IEnumerable<StarToUp.Models.StartupCadastro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexStartup.cshtml";
}
<div class="section-header text-center">
    <br />
    <h2 class="title">Startups Cadastradas</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<div class="row linhaunderline">
    <div class="col-md-2">
        <b>Nome Startup</b>
    </div>
    <div class="col-md-2">
        <b>Segmentação</b>
    </div>
    <div class="col-md-2 acoesadireita">
        <b>Ações</b>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row linhaunderline" onmouseover="javascript:this.style.backgroundColor='#e2e2e2'" onmouseout="javascript:this.style.backgroundColor=''">
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Nome)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Segmentacoes.Descricao)
        </div>
        <div class="col-md-2 acoesadireita">
            <a href='@Url.Action("Edit", "StartupCadastros", new { id = item.StartupCadastroID })'>
                <img src='@Url.Content("~/Content/img/editar.png")' class="botaoicone"
                     title="Editar" />
            </a>
            <a class="btn excluir botaoicone" data-target="#modal" data-toggle="modal" data-content="@item.Segmentacoes" data-id="@item.StartupCadastroID" style="background: url(@Url.Content("~/Content/img/excluir.png")) no-repeat;">
            </a>
            <a href='@Url.Action("Details", "StartupCadastros", new { id = item.StartupCadastroID })'>
                <img src='@Url.Content("~/Content/img/detalhes.png")' class="botaoicone"
                     title="Detalhes" />
            </a>
        </div>
    </div>

    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Exclusão de Startup</h4>
                </div>
                <div class="modal-body">
                    <div id="mensagem"></div>
                    <input type="hidden" id="numero" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="btnDelete">Deletar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <br />
}

@section scripts{
    <script>
 $(function () {
 $(".excluir").click(function () {
 var id = $(this).attr("data-id");
 var descricao = $(this).attr("data-content");
 $("#mensagem").html("<p>Deseja excluir a startup " + descricao + "?</p>");
 $("#numero").text(id);
 });
 $("#btnDelete").click(function () {
 var id = $("#numero").text();
 var url = '@Url.Action("DeleteAJAX", "StartupCadastros")';
     $.post(url, { startupCadastroID: id },
 function (data) {
 window.location.href = "@Url.Action("Index", "StartupCadastros")";
 })
 .fail(function () {
 alert("error")
 });
 //$("#modal").fadeOut("slow", function () {
 // // Animation complete.
 //});
 $('#modal').modal('hide');
 });
        })
    </script>
}

<div class="row linha">
    <div class="col-md-12">
        <b>Legenda:</b> <br />
        <img src='@Url.Content("~/Content/img/adicionar.png")' class="botaoicone" /> Novo
        <img src='@Url.Content("~/Content/img/editar.png")' class="botaoicone" /> Editar
        <img src='@Url.Content("~/Content/img/excluir.png")' class="botaoicone" /> Excluir
    </div>
</div>