@model IEnumerable<StarToUp.Models.StartupCadastro>
@{
    IEnumerable<StarToUp.Models.EmpresaCadastro> empresaCadastros = (IEnumerable<StarToUp.Models.EmpresaCadastro>)ViewBag.EmpresaCadastros;
    ViewBag.Title = "SearchStartup";
    Layout = "~/Views/Shared/_IndexStartup.cshtml";
}
@foreach (var item in Model)
{
    <div class="container">
        <div class="row linhaunderline" onmouseover="javascript:this.style.backgroundColor='#606060'" onmouseout="javascript:this.style.backgroundColor=''">
            <div class="col-md-3">
                @{
                    string logoTipo = item.Logotipo;
                    if (logoTipo != string.Empty)
                    {
                        if (logoTipo != null)
                        {
                            string file = logoTipo;
                            string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilStartup/" + file;
                            <img src='@Url.Content(path)' style="height:100px; width: 100px; border-radius: 100%; box-shadow: 2px 2px 2px black; margin-bottom:10px;" title="LogoTipo" /><br />
                        }
                    }
                }
            </div>
            <br />
            <div class="col-md-3" style="color:#fff;">
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
            <div class="col-md-3" style="color:#fff;">
                @Html.DisplayFor(modelItem => item.Segmentacoes.Descricao)
            </div>
            <div class="col-md-3 acoesadireita">
                <a href='@Url.Action("Details", "StartupCadastros", new { id = item.StartupCadastroID })'><img src='@Url.Content("~/Content/img/visualizacao.png")' class="visualizacao" title="Detalhes" /></a>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row linha" style="font-size:x-small;">
        <div class="col-md-12">
            <b>Legenda:</b> <br />
            <img src='@Url.Content("~/Content/img/visualizacao.png")' class="botaoicone" /> Detalhes
        </div>
    </div>
</div>
