<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>@ViewBag.Title - StarToUp</title>
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="~/Content/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/owl.theme.default.css" />
    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="~/Content/css/magnific-popup.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/css/style.css" />
</head>
<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url(../../Content/img/background4.jpg);">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo -->
                    @*<div class="navbar-brand">
                        <a href="index.html">
                            <img class="logo" src="~/Content/img/logo1.png" alt="logo">
                            <img class="logo-alt" src="~/Content/img/logo1.png" alt="logo">
                        </a>
                    </div>*@
                    <!-- /Logo -->
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>
                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#team">Time</a></li>
                    <li><a href="#portfolio">Startups em Destaque</a></li>
                    <li><a href="#service">Eventos</a></li>
                    @*<li><a href="#pricing">Preços</a></li>*@
                    <li><a href="#contact">Contato</a></li>
                    <li>@Html.ActionLink("Vagas de Emprego", "Vagas", "Empregos")</li>
                    <li class="has-dropdown">
                        <a href="#blog">Login</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Startups", "Logar", "Logon")</li>
                            <li>@Html.ActionLink("Empresas", "Logar", "LogonEmpresa")</li>
                        </ul>
                    </li>

                </ul>
                <!-- /Main navigation -->
            </div>
        </nav>
        <!-- /Nav -->
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">STAR<span style="color:red;">TO</span>UP</h1>
                            <p class="white-text">
                                Venha Decolar Com A Gente!
                            </p>
                            <button class="white-btn">@Html.ActionLink("Cadastrar Startups", "Create", "Startups")</button>
                            <button class="main-btn">@Html.ActionLink("Cadastrar Empresas", "Create", "Empresas")</button>
                        </div>
                    </div>
                    <!-- /home content -->
                </div>
            </div>
        </div>
        <!-- /home wrapper -->
    </header>
    <!-- /Header -->
    <!-- About -->
    <div id="about" class="section md-padding">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Bem-Vindo à Star<span style="color:red;">To</span>Up</h2>
                </div>
                <!-- /Section header -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-rocket"></i>
                        <h3>A StartToUp</h3>
                        <p>
                            Uma plataforma criada para divulgar diversos segmentos de startups, facilitando
                            que as empresas encontrem as ideias e soluções que precisam para levar tecnologia e inovação
                            para dentro de suas companhias.
                        </p>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-magic"></i>
                        <h3>Facilidade</h3>
                        <p>
                            Facilitaremos o encontro entre empresas e as melhores Startups, filtrando aquela que agregará valor ao negócio e reduzindo o tempo de pesquisa.
                            As startups serão elencadas por segmentação.
                        </p>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-mobile"></i>
                        <h3>Fique por dentro!</h3>
                        <p>Saiba de todos os eventos relacionados à Startups que estarão prestes a acontecer, seu conteúdo e local.</p>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <!-- /about -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /About -->
    <!-- Why Choose Us -->
    <div id="features" class="section md-padding bg-grey">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- why choose us content -->
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="title">Por que escolher a Star<span style="color:red;">To</span>Up?</h2>
                    </div>
                    <p>Faça sua Startup decolar!.</p>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Facilidade.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Visibilidade para sua Startup.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Conexão com várias empresas.</p>
                    </div>
                </div>
                <!-- /why choose us content -->
                <!-- About slider -->
                <div class="col-md-6">
                    <div id="about-slider" class="owl-carousel owl-theme">
                        <img class="img-responsive" src="~/Content/img/about1.png" alt="">
                        <img class="img-responsive" src="~/Content/img/about2.png" alt="">
                        <img class="img-responsive" src="~/Content/img/about3.png" alt="">
                        <img class="img-responsive" src="~/Content/img/about4.png" alt="">
                        <img class="img-responsive" src="~/Content/img/about5.png" alt="">
                    </div>
                </div>
                <!-- /About slider -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Why Choose Us -->
    <!-- Team -->
    <div id="team" class="section md-padding">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Nosso Time</h2>
                </div>
                <!-- /Section header -->
                <!-- team -->
                <div class="col-sm-3">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="~/Content/img/team1.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Cleiber Reis</h3>
                            <span>Desenvolvedor</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->
                <!-- team -->
                <div class="col-sm-3">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="~/Content/img/team2.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Desiree Fraga</h3>
                            <span>Desenvolvedora</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->
                <!-- team -->
                <div class="col-sm-3">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="~/Content/img/team3.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Diego Pellegrine</h3>
                            <span>Desenvolvedor</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->
                <!-- team -->
                <div class="col-sm-3">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="~/Content/img/team4.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Gabriele Kiane</h3>
                            <span>Desenvolvedora</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Team -->
    @RenderBody()
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="index.html"><img src="~/Content/img/logo2.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p style="font-size:x-small;">Copyright © 2019. Todos os direitos reservados. Desenvolvido por <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- /footer copyright -->
                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </footer>
    <!-- /Footer -->
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>
</body>
</html>
