@model StarToUp.Models.EmpresaCadastro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_IndexEmpresa.cshtml";
}

<!-- Header -->
<header>
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <div class="nav-collapse">
                    <span></span>
                </div>
            </div>
            <!--  Main navigation  -->
            @{
                StarToUp.Models.EmpresaCadastro empresaCadastro = StarToUp.Repositories.FuncoesEmpresa.GetUsuarioEmpresa();
                if (empresaCadastro != null)
                {

                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home Empresas", "Index", "EmpresaCadastros")</li>
                        <li><a href="#" class="disabled" style="color:#b4b4b4;">Startups</a></li>
                        <li class="has-dropdown">
                            <a href="">@empresaCadastro.Nome</a>
                            <ul class="dropdown">
                                <li>@Html.ActionLink("Editar", "Edit", new { id = Model.EmpresaCadastroID })</li>
                                <li><a href="#" data-toggle="modal" data-target="#smallModal">Logoff</a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- /Main navigation -->
                }
                else
                {
                    <script type="text/javascript">
                                window.location.href = "@Url.Action("AcessoNegadoEmpresa","LogonEmpresa")";
                    </script>
                }
            }
        </div>
    </nav>
    <!-- /Nav -->
</header>
<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Logoff</h3>
            </div>
            <div class="modal-body">
                <p>Deseja sair da sessão?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Sair!", "Logoff", "StartupCadastros")</button>
            </div>
        </div>
    </div>
</div>


<div class="bg-img" style="background-image: url('../../Content/img/background2.jpg');">
    <div class="overlay"></div>
</div>
<div class="header-wrapper sm-padding bg-grey">
    <div class="container">
        <h2>Detalhes da <b>Empresa</b></h2>
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmpresaCadastroID)
    <form class="form-signin">
        <div class="row">
            <div>
                <div class="col-md-12 uploadImage">
                    <br />
                    <div style="color:#fff; font-size: 2.4em;">
                        @Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div style="color:#fff; font-size: 1.2em;">
                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                    <div class="input-group-btn">
                        @{
                            string logomarca = Model.Logomarca;
                            if (logomarca != string.Empty)
                            {
                                if (logomarca != null)
                                {
                                    string file = logomarca;
                                    string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilEmpresa/" + file;
                                    <img class="img-circle img-preview" src='@Url.Content(path)' style="height:250px; width: 250px; border-radius: 100%; box-shadow: 2px 2px 2px black;" title="Logotipo" /><br />
                                }
                            }
                        }
                    </div>
                    <p style="font-size:x-small;">*Logo.</p>
                    <div>
                        @Html.HiddenFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <hr class="divisoria" />
            <div class="col-md-6">
                <div class="header-wrapper sm-padding">
                    <h3 class="title">Dados de Contato</h3>
                </div>
                <div>
                    @*Endereço*@
                    <div>
                        <label style="color:#8b8b8b">CEP - </label>
                        @Html.DisplayFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Rua</label>
                        @Html.DisplayFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Bairro - </label>
                        @Html.DisplayFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Nº - </label>
                        @Html.DisplayFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Complemento - </label>
                        @Html.DisplayFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">Cidade - </label>
                        @Html.DisplayFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <label style="color:#8b8b8b">UF - </label>
                        @Html.DisplayFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <img class="imgMap img-responsive" src="~/Content/img/maps.png" />
                    </div>
                </div>
            </div>
            @*LogoTipo*@
            <div class="col-md-6 uploadImage">
                <div class="header-wrapper sm-padding">
                    <h3 class="title" style="text-align:left;">Sobre a Empresa</h3>
                </div>
                <div>
                    <br />
                    <div class="text-left">
                        <div>
                            <label style="color:#8b8b8b">Razao Social - </label>
                            @Html.DisplayFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Objetivo - </label>
                            @Html.DisplayFor(model => model.Objetivo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Segmentação</label>
                            @Html.DisplayFor(model => model.SegmentacaoID, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            <label style="color:#8b8b8b">Quantidade de Funcionários - </label>
                            @Html.DisplayFor(model => model.QtdFuncionario, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr class="divisoria" />
        <div class="header-wrapper sm-padding">
            <h3 class="title">Redes Sociais</h3>

        </div>
        <div class="row">

            <div class="input-group col-md-2" style="display:inline-block">
                <div class="input-group">
                    <ul>
                        <li><a href="http://@empresaCadastro.LinkInstagram" target="_blank"><img class="imgsocial" src="~/Content/img/icon-insta.png" title="Instagram" style="width:50px" /></a></li>
                    </ul>
                    @*@Html.DisplayFor(model => model.LinkInstagram, new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>

            <div class="input-group col-md-2" style="display:inline-block">
                <div class="input-group">
                    <ul>
                        <li><a href="http://@empresaCadastro.LinkFacebook" target="_blank"><img class="imgsocial" src="~/Content/img/icon-face.png" title="Facebook" style="width:50px" /></a></li>
                    </ul>
                     @*@Html.DisplayFor(model => model.LinkFacebook, new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>

            <div class="input-group col-md-2" style="display:inline-block">
                <div class="input-group">
                    <ul>
                        <li><a href="http://@empresaCadastro.LinkLinkedin" target="_blank"><img class="imgsocial" src="~/Content/img/icon-linkedin.png" title="LinkedIn" style="width:50px" /></a></li>
                    </ul>
                    @*@Html.DisplayFor(model => model.LinkLinkedin, new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>

        </div>
    </form>
    <br />
</div>
<br />
}
<footer id="footer" class="sm-padding bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-logo">
                    <a href="~/Views/Home/Principal.cshtml"><img src="~/Content/img/logo2.png" alt="logo"></a>
                </div>
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
    </script>
}