@model StarToUp.Models.EmpresaCadastro

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_IndexEmpresa.cshtml";
}

@using (Html.BeginForm("Edit", "EmpresaCadastros", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <header>
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">
                <div class="navbar-header">
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                </div>
                <!--  Main navigation  -->
                @{
                    StarToUp.Models.EmpresaCadastro empresaCadastro = StarToUp.Repositories.FuncoesEmpresa.GetUsuarioEmpresa();
                    if (empresaCadastro != null)
                    {

                        <ul class="main-nav nav navbar-nav navbar-right">

                            <li>@Html.ActionLink("Home Empresas", "Index", "EmpresaCadastros")</li>
                            <li>@Html.ActionLink("Empresas", "IndexEmpresas", "EmpresaCadastros")</li>
                            <li class="has-dropdown">
                                <a href="">@empresaCadastro.Nome</a>
                                <ul class="dropdown">
                                    <li><a href="#" class="disabled" style="color:#b4b4b4;">Editar Perfil</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#smallModal">Logoff</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /Main navigation -->
                    }
                    else
                    {
                        <script type="text/javascript">
                                window.location.href = "@Url.Action("AcessoNegadoEmpresa","LogonEmpresa")";
                        </script>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Logoff</h3>
                </div>
                <div class="modal-body">
                    <p>Deseja sair da sessão?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Sair!", "Logoff", "StartupCadastros")</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Numbers -->

    <div class="bg-img" style="background-image: url('../../Content/img/background2.jpg');">
        <div class="overlay"></div>
    </div>
    <div class="header-wrapper sm-padding bg-grey">
        <div class="container">
            <h2>Edite seu <label>Perfil</label> aqui</h2>
        </div>
    </div>

    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmpresaCadastroID)
        <form class="form-signin">
            <div class="row">
                <div>
                    <div class="header-wrapper sm-padding">
                        <h3 class="title" style="color:#fff;">Dados de Login</h3>
                    </div>
                    <div class="col-md-6 uploadImage">
                        <div class="input-group-btn">
                            @{
                                string logomarca = Model.Logomarca;
                                if (logomarca != string.Empty)
                                {
                                    if (logomarca != null)
                                    {
                                        string file = logomarca;
                                        string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/PerfilEmpresa/" + file;
                                        <img class="img-circle img-preview" src='@Url.Content(path)' style="height:150px; width: 150px; border-radius: 100%; box-shadow: 2px 2px 2px black;" title="Logomarca" /><br />
                                    }
                                    else
                                    {
                                        <div class="col-md-10">
                                            <input type="file" id="logomarca" name="logomarca" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-md-10">
                                        <input type="file" id="logomarca" name="logomarca" />
                                    </div>
                                }
                                logomarca = ViewBag.FotoMensagem;
                                if (logomarca != "")
                                {
                                    <span class="text-danger contenterror">
                                        @ViewBag.FotoMensagem
                                    </span>
                                }
                            }
                        </div>
                        <div class="fileUpload btn btn-info fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i> Upload </span>
                            <input id="logomarca" name="logomarca" value="logomarca" type="file" class="attachment_upload" />
                        </div>
                        @*@Html.ActionLink("Excluir", "DeleteFile", "StartupCadastros", new { id = Model.StartupCadastroID, arquivo = "Foto" }, null)*@
                        <p class="help-block">* Insira o Logo da sua Empresa acima.</p>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div>
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Nome da sua Empresa</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">E-Mail</label>
                        </div>
                        <br />
                        <div>
                            @Html.HiddenFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <hr class="divisoria" />
            <div class="row">
                <div class="col-md-6">
                    <div class="header-wrapper sm-padding">
                        <h3 class="title">Dados de Contato</h3>
                    </div>
                    <div>
                        @*Endereço*@
                        <div>
                            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">CEP</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Rua</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Bairro</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Nº</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Complemento</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Cidade</label>
                        </div>
                        <br />
                        <div>
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            <label style="color:#8b8b8b">Estado</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 uploadImage">
                    <div class="header-wrapper sm-padding">
                        <h3 class="title" style="text-align:left;">Sobre sua Empresa</h3>
                    </div>
                    <div>
                        <div class="text-left">
                            <div>
                                @Html.EditorFor(model => model.Objetivo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Objetivo, "", new { @class = "text-danger" })
                                <label style="color:#8b8b8b">Objetivo da Empresa</label>
                            </div>
                            <br />
                            <div>
                                @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
                                <label style="color:#8b8b8b">Razão Social</label>
                            </div>
                            <br />
                            <div>
                                @Html.DropDownList("SegmentacaoID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SegmentacaoID, "", new { @class = "text-danger" })
                                <label style="color:#8b8b8b">Segmentação</label>
                            </div>
                            <br />
                            <div>
                                @Html.EditorFor(model => model.QtdFuncionario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QtdFuncionario, "", new { @class = "text-danger" })
                                <label style="color:#8b8b8b">Quantidade de Funcionários</label>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <h3>Midias Sociais</h3>
                    <div class="input-group col-md-4">
                        @Html.EditorFor(model => model.LinkInstagram, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkInstagram, "", new { @class = "text-danger" })
                        <i class="fa fa-facebook-square" aria-hidden="true"> </i><label style="color:#8b8b8b"> - Instagram</label>
                    </div>
                    <div class="input-group col-md-4">
                        @Html.EditorFor(model => model.LinkFacebook, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkFacebook, "", new { @class = "text-danger" })
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i><label style="color:#8b8b8b"> - Facebook</label>
                    </div>
                    <div class="input-group col-md-4">
                        @Html.EditorFor(model => model.LinkLinkedin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkLinkedin, "", new { @class = "text-danger" })
                        <i class="fa fa-instagram" aria-hidden="true"> </i><label style="color:#8b8b8b"> - Linkedin</label>
                    </div>
                </div>

            </div>
            <br />
        </form>
        <br />
        <div class="text-center">
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Editar">
                Atualizar Perfil
            </button>
        </div>
    </div>
    <br />
}
<footer id="footer" class="sm-padding bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-logo">
                    <a href="~/Views/Home/Principal.cshtml"><img src="~/Content/img/logo2.png" alt="logo"></a>
                </div>
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
        $(document).ready(function () {
            var brand = document.getElementById('logomarca');
            brand.className = 'attachment_upload';
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.img-preview').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#logomarca").change(function () {
                readURL(this);
            });
        });
    </script>
}