@model IEnumerable<StarToUp.Models.EmpresaCadastro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexEmpresa.cshtml";
}

<!-- Header -->
<header>
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <div class="nav-collapse">
                    <span></span>
                </div>
            </div>
            <!--  Main navigation  -->
            @{
                StarToUp.Models.EmpresaCadastro empresaCadastro = StarToUp.Repositories.FuncoesEmpresa.GetUsuarioEmpresa();
                if (empresaCadastro != null)
                {
                    <ul class="main-nav nav navbar-nav navbar-left">
                        <li><a href="">Seja bem-vindo(a) - @empresaCadastro.Nome</a></li>
                    </ul>

                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li><a href="#" class="disabled" style="color:#b4b4b4;">Home Empresas</a></li>
                        <li>@Html.ActionLink("Startups", "IndexStartups", "StartupCadastros")</li>
                        <li>@Html.ActionLink("Empresas", "IndexEmpresas", "EmpresaCadastros")</li>
                        <li class="has-dropdown">
                            <a href="">@empresaCadastro.Nome</a>
                            <ul class="dropdown">
                                @foreach (var item in Model)
                                {
                                    <li><a href="@Url.Action("Edit", "EmpresaCadastros", new { id = item.EmpresaCadastroID })">Editar</a></li>
                                }
                                <li><a href="#" data-toggle="modal" data-target="#smallModal">Logoff</a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- /Main navigation -->
                }
                else
                {
                    <script type="text/javascript">
                                window.location.href = "@Url.Action("AcessoNegadoEmpresa","LogonEmpresa")";
                    </script>
                }
            }

        </div>
    </nav>
    <!-- /Nav -->
</header>
<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Logoff</h3>
            </div>
            <div class="modal-body">
                <p>Deseja sair da sessão?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Sair!", "Logoff", "StartupCadastros")</button>
            </div>
        </div>
    </div>
</div>
<!-- /Numbers -->

<div class="header-wrapper sm-padding bg-grey">
    <div class="bg-img" style="background-image: url('../../Content/img/background2.jpg');">
        <div class="overlay"></div>
    </div>
    <div class="container">
        <h2>Empresas</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<div class="container">
    <div id="aside" class="col-md-4">
        @using (Html.BeginForm("SearchStartup", "StartupCadastros", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="widget">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="widget-search">
                    <input type="text" name="SearchString" id="SearchString" class="search-input" placeholder="O que está precisando?" />
                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </div>

        }
    </div>
</div>
<h2 class="text-center" style="color:antiquewhite;">**Espaço Em Desenvolvimento**</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer id="footer" class="sm-padding bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/logo2.png" alt="logo"></a>
                </div>
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>