@model IEnumerable<StarToUp.Models.Emprego>
@{
    ViewBag.Title = "Vagas";
    Layout = "~/Views/Shared/_Startup.cshtml";
}

<div class="header-wrapper sm-padding bg-grey">
    <div class="container">
        <h2>Vagas</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<div id="pricing" class="section md-padding">
    <div class="container">
        <div class="row">
            <br />
            <div class="section-header text-center">
                <h2 class="title">Vagas abertas</h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">@Html.DisplayFor(modelItem => item.TituloVaga)</span>
                            <div class="price">
                                <h3><span class="duration">Foto da empresa</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>@Html.DisplayNameFor(model => model.LocalVaga) @Html.DisplayFor(modelItem => item.LocalVaga)</p>
                            </li>
                            <li>
                                <p>@Html.DisplayNameFor(model => model.SalarioVaga) @Html.DisplayFor(modelItem => item.SalarioVaga)</p>
                            </li>
                            <li>
                                <p>@Html.DisplayNameFor(model => model.RequisitosVaga) @Html.DisplayFor(modelItem => item.RequisitosVaga)</p>
                            </li>
                            <li>
                                <p>@Html.DisplayNameFor(model => model.DescricaoVaga) @Html.DisplayFor(modelItem => item.DescricaoVaga)</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <button class="outline-btn">@Html.ActionLink("Detalhes", "Details", new { id = item.EmpregoID })</button>
                        </div>
                        @Html.ActionLink("Editar", "EditarVagas", new { id = item.EmpregoID }) |
                        @Html.ActionLink("Excluir", "DetalhesVagas", new { id = item.EmpregoID })
                    </div>
                </div>
            }
        </div>
    </div>
</div>


