@model StarToUp.Models.Emprego

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_IndexStartup.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Emprego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TituloVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitosVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitosVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoVaga)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
