@model IEnumerable<StarToUp.Models.Administrador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AreaAdmin.cshtml";
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AdminID }) |
                @Html.ActionLink("Details", "Details", new { id=item.AdminID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AdminID })
            </td>
        </tr>
    }

    </table>*@
<!-- home content -->
<div class="col-md-10 col-md-offset-1">
    <div class="home-content">
        <h1 class="white-text">StarToUp</h1>
        <p class="white-text">
            Venha decolar com a gente!
        </p>
        <button class="btn-lg btn-outline-primary">@Html.ActionLink("Cadastrar Evento", "Create", "EventosCadastros")</button>
        <button class="btn-lg btn-outline-primary"></button>
    </div>
</div>
<!-- /home content -->
